html, body, main, .bg-card{
    height: 100%;
    background: rgb(21, 21, 21);
}
.box {
    border: 5px solid black;
    width: 500px;
    height: 400px;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.w-pf {
    width: 30%;
}

.cls-1 {
    fill: rgb(21, 21, 21);
    stroke: black;
    stroke-width: 0.8px;
}

.body-color {
    fill: rgb(102, 102, 102);
}

 .custom-font {
    font-size: 1rem; /* default: mobile */
    color: white;
}

@media (min-width: 768px) { /* tablets and up */
    .custom-font {
      font-size: 1.5rem;
    }
}

@media (min-width: 1200px) { /* desktops */
    .custom-font {
      font-size: 2rem;
      color: rgb(165, 165, 165);
    }
}