html, body {
    height: 100%;
    background: blanchedalmond;
}
.box {
    border: 5px solid black;
    width: 500px;
    height: 400px;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.w-pf {
    width: 10%;
}

.cls-1 {
    fill: black;
    stroke: black;
    stroke-width: 0.8px;
}

.body-color {
    fill: rgb(102, 102, 102);
}